@font-face {
  font-family: lineto-circular-bold;
  src: url(https://mywebsitenow.github.io/Fonts/lineto-circular-bold.woff2);
}

@font-face {
  font-family: lineto-circular-book;
  src: url(https://mywebsitenow.github.io/Fonts/lineto-circular-book.woff2);
}

@font-face {
  font-family: lineto-circular-medium;
  src: url(https://mywebsitenow.github.io/Fonts/lineto-circular-medium.woff2);
}

@font-face {
  font-family: lineto-circular-regular;
  src: url(https://mywebsitenow.github.io/Fonts/lineto-circular-regular.woff2);
}

:root {
  --mainRed: #f5f4f1;/*#EE5050;*/
  --C1_Height: 700px;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

* {
    padding: 0;
    margin: 0;
    /* Google Font*/
    font-family: lineto-circular-regular;
    background-color: var(--mainRed);
    color: #F6C639;
}

#TheGrid {
    /*Grid Settings*/
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 50px 59px 900px 500px 600px;
}

#Head_FillerSpace {
    grid-column: 1;
    grid-row: 1/2;
    height: 50px;
}

#Head_Container {
    grid-column: 1;
    grid-row: 2/3;
    height: 59px;
    background-color: var(--mainRed);
    /*Grid Settings*/
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 59px;
}

    #Head_Title {
        color: black;
        padding-top: 15px;
        padding-left: 30px;
        font-size: 25px;
        grid-column: 1/2;
        grid-row: 1;
    }
    
    #ACM_W {
        color: black;
    }
    
    #Head_Links {
        padding-top: 10px;
        padding-right: 10vw;
        text-align: right;
        word-spacing: 50px;
        grid-column: 2/3;
        grid-row: 1;
    }

#Body_Container {
    grid-column: 1;
    grid-row: 3/4;
    /*Grid Settings*/
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: 400px;
}
    #Body_Content {
        text-align: center;
        grid-column: 1;
        grid-row: 1;
    }
    
    #BC_Title {
        color: black;
        font-size: 50px;
        padding-top: 350px;
    }
    
    #BC_Body {
        font-family: lineto-circular-book;
        padding-top: 10px;
        font-size: 20px;
        grid-column: 1;
        grid-row: 2/3;
    }

#Container_One {
    grid-column: 1;
    grid-row: 5/6;
    /*Grid Settings*/
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: 775px;
}

    #C1_Description {
        grid-column: 1/2;
        grid-row: 1;
        text-align: center;
    }
        #C1_Title {
            color: black;
            font-family: 'Rajdhani', sans-serif;
            font-size: 60px;
        }
        
        #info {
            font-family: 'Rajdhani', sans-serif;
            font-size: 60px;
        }
    
        #C1_Body {
            color: black;
            padding-left: 150px;
            padding-right: 150px;
            font-size: 20px;
            font-family: lineto-circular-book;
        }
    
    #C1_Container {
        grid-column: 2/3;
        grid-row: 1;
        /*Grid Settings*/
        display: grid;
        grid-template-columns: 45vw 5vw;
        grid-template-rows: 750px;
    }

        #C1_Code {
            font-size: 20px;
            background-color: #ededed;
            color: black;
            font-family: lineto-circular-bold;
            overflow: hidden;
            grid-column: 1/2;
            grid-row: 1;
        }
        
    #Container_Two {
        grid-column: 1;
        grid-row: 4/5;
         /*Grid Settings*/
        display: grid;
        grid-template-columns: 100vw;
        grid-template-rows: 400px;
    }
        #C2_Countdown {
            font-size: 75px;
            padding-top: 25px;
            text-align: center;
            grid-column: 1;
            grid-row: 1;
        }
        
        
        
        
        
/*Not an HTML Class, but added by the JS*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}