@media only screen and (max-width: 1000px) {
html,body {
    background-color: lightblue;
    margin:0;
    height:100%;
}

#TheGrid {
    font-family: 'Nerko One', cursive;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 10vh repeat(4, 16.66vh) 40vh;
    grid-gap: 10px;
}

#MiddleSection { 
    padding-top: 2vw;
    font-size: 6vw;
    text-align: center;
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 2; 
    grid-row-end: 5; 
}

.input {
    font-size: 4vw;
    width: 75%;
}

#top_banner {
    color: red;
    font-size: 4vw;
    padding-top: 3vw;
    text-align: center;
    grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 2; 
}

}




@media only screen and (min-width: 1001px) {
html,body {
    background-color: lightblue;
    margin:0;
    height:100%;
}

#TheGrid {
    font-family: 'Nerko One', cursive;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: repeat(5, 5vh) 40vh;
    grid-gap: 10px;
}

#MiddleSection { 
    padding-top: 10vw;
    font-size: 4vw;
    text-align: center;
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 2; 
    grid-row-end: 5; 
}

.input {
    font-size: 3vw;
    width: 50%;
}

#top_banner {
    color: red;
    font-size: 3vw;
    padding-top: 3vw;
    text-align: center;
    grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 2; 
}

}


