




html,body {
    background-color: lightblue;
    margin:0;
    height:100%;
}

#TheGrid {
    font-family: 'Nerko One', cursive;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 10vh 20vw 20vw;
    grid-gap: 10px;
}

#top_banner {
    color: red;
    font-size: 5vw;
    padding-top: 1vw;
    text-align: center;
    grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 2; 
}

#topMessage {
    padding-top: 5vw;
    font-size: 4vw;
    text-align: center;
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 2; 
    grid-row-end: 3; 
}

#MiddleSection { 
    padding-top: 5vw;
    font-size: 4vw;
    text-align: center;
    grid-column-start: 2; 
    grid-column-end: 3; 
    grid-row-start: 3; 
    grid-row-end: 4; 
}

#submit {
    padding: 1vw;
}
.btn {
    font-size: 3vw;
}



